body{
    margin-top: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.vakken .grid div{
    border: 2px dotted #FC3232;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rooster img{
    width: 100%;
}

.blokken img{
    width: 100%;
}

.docenten .grid div{
    display: grid;
    grid-template-rows: 1fr 10%;
    gap: 15px;
    border: 2px solid #0050FF;
}

.grid div img{
    width: 100%;
}

.docenten .grid div p{
    display: inline;
}
